@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Quicksand:wght@500;600&family=Raleway:wght@200;400;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  overflow: hidden;
  background-color: #131222;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(118, 178, 207);
  position: relative;
}
#page1 > video {
  height: 100%;
  width: 100%;
  /* margin-left: 6vw;
  margin-top: 0vh; */
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  #page1 > video {
    height: 100%;
    width: 100%;
    margin-left: 0vw;
    margin-top: 0vh;
    object-fit: cover;
  }
}

#page1 > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  position: absolute;
  height: 10vh;
  width: 100vw;
  /* background-color: blueviolet; */
}
nav {
  position: absolute;
  height: 10vh;
  width: 100%;
  /* background-color: chartreuse; */
}
nav > img {
  height: 60px;
  width: 60px;
  margin-top: 5vh;
}

#right-nav > button {
  margin-top: 3vh;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: rgb(226, 220, 218);
  color: rgb(0, 0, 0);
  border: solid black;
  font-family: "Raleway";
  font-weight: 900;
  cursor: pointer;
}

.bottom-page1 {
  position: absolute;
  bottom: 20%;
  left: 8%;
  display: flexbox;
  height: 25vh;
  width: 50vw;
  /* background-color: red; */
}

.bottom-page1 > h1 {
  display: inline;
  color: rgb(255, 255, 255);
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-size: 6vw;
  font-weight: 100;
  line-height: -3;
  top: 5%;
}

.bottom-page1-inner {
  display: flex;
  align-items: end;
  justify-content: last baseline;
  /* padding:-20px; */
  margin-top: +1.5%;
  margin-left: +2.5%;
  color: rgb(0, 0, 0);
  height: 10%;
  width: 100%;
  font-family: "Libre Baskerville", serif;
  font-size: 2.3vh;
  font-weight: 500;
  /* background-color: magenta; */
}

.bottom-page1 > button {
  padding: 10px 20px;
  margin-top: +1%;
  border: none;
  border-radius: 50px;
  background-color: aliceblue;
  color: black;
  font-size: 20px;
  font-family: "Raleway";
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .bottom-page1 {
    position: absolute;
    bottom: +8%;
    left: 8%;
    display: flexbox;
    height: 25vh;
    width: 50vw;
    /* background-color: red; */
  }
  .bottom-page1 > h1 {
    display: inline;
    color: rgb(255, 255, 255);
    font-family: "Libre Baskerville";
    font-weight: 700;
    font-size: 7vw;
    font-weight: 100;
    line-height: -3;
    top: 5%;
  }
  .bottom-page1 > button {
    padding: 10px 20px;
    margin-top: -2%;
    border: none;
    border-radius: 50px;
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    font-family: "Raleway";
    cursor: pointer;
  }
}

#page2 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-family: "Raleway";
  height: 100vh;
  width: 100%;
  background-color: red;
  position: relative;
  color: azure;
  padding: 0 4%;
  background-color: rgb(37, 0, 72);
}

#page > h1 {
  font-weight: 200;
}

#page2 > h2 {
  width: 90%;
  font-size: 4vw;
  font-weight: 200;
  margin: 2%;
  color: rgba(240, 255, 255, 0.349);
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #15162a;
}

#page3 > canvas {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#exploreButton {
  position: absolute;
  bottom: 20px; /* Adjust this value to position the arrow and text vertically */
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px; /* Adjust the font size as needed */
  color: #fff; /* Text color */
  text-align: center;
  z-index: 2; /* Ensure it's above the canvas */
  cursor: pointer; /* Add a pointer cursor on hover */
  transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
}

#exploreButton:hover {
  color: #33ff00; /* Change the text color on hover */
}

#page4 {
  justify-content: center;
  flex-direction: column;
  align-items: start;
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway";
  background-color: #131222;
}

#page4 > h1 {
  margin-left: 15vw;
  margin-bottom: 2vw;
  font-weight: 100;
  color: rgb(240, 255, 255);
}

#page4 > h3 {
  margin-left: 15vw;
  width: 75%;
  font-size: 3vw;
  font-weight: 100;
  margin-bottom: 2vw;
  color: rgba(240, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  #page4 > h1 {
    margin-left: 6vw;
    margin-bottom: 2vw;
    font-weight: 100;
    color: rgb(240, 255, 255);
  }

  #page4 > h3 {
    margin-left: 10vw;
    width: 80%;
    font-size: 3vw;
    font-weight: 100;
    margin-bottom: 2vw;
    color: rgba(240, 255, 255, 0.5);
  }
}
#page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #8b2fc0;
}

#page5 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #8b2fc0;
}

#page6 {
  justify-content: center;
  flex-direction: column;
  align-items: start;
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway";
  background-color: #131222;
}

#page6 > h1 {
  margin-left: 8vw;
  margin-bottom: 2vw;
  font-weight: 100;
  color: rgb(240, 255, 255);
}

#page6 > h3 {
  margin-left: 12vw;
  width: 80%;
  font-size: 3vw;
  font-weight: 100;
  margin-bottom: 2vw;
  color: rgba(240, 255, 255, 0.5);
}
@media screen and (max-width: 768px) {
  #page6 > h1 {
    margin-left: 4vw;
    font-size: 3vh;
    color: rgb(240, 255, 255);
  }

  #page6 > h3 {
    margin-left: 8vw;
    width: 80%;
    font-size: 3vw;
    font-weight: 100;
    margin-bottom: 2vw;
    color: rgba(240, 255, 255, 0.5);
  }
}

#page7 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #131222;
}

#page7 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

#page7-exploreButton {
  position: absolute;
  bottom: 10px; /* Adjust this value to position the arrow and text vertically */
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px; /* Adjust the font size as needed */
  color: white; /* Text color */
  text-align: center;
  z-index: 2; /* Ensure it's above the canvas */
  cursor: pointer; /* Add a pointer cursor on hover */
  transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
}

#page7-exploreButton:hover {
  color: #1eff00a4; /* Change the text color on hover */
}
.page7-cir {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  background-color: #ffffff69;
  border: 1px solid #ffffff;
}
.page7-cir-inner {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background-color: #8f37f3;
  border: 1px solid #ffffff;
}

.skill {
  width: 160px;
  height: 160px;
  /* background-color: blueviolet; */
  /* position: relative; */
  padding-left: 0%;
  padding-top: 0%;
  margin-top: 12%;
  margin-left: 12%;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  /* border: 1px solid red; */
  padding: 20px;
  /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  /* box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05); */
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 10px;
  stroke-dasharray: 502.65;
  stroke-dashoffset: 472;
  
}

svg {
  position: absolute;
  top: 40px;
  left: 45px;
}



@media screen and (max-width: 768px) {
  .skill {
    width: 160px;
    height: 160px;
    /* background-color: blueviolet; */
    /* position: relative; */
    padding-left: 0%;
    padding-top: 0%;
    margin-top: -35%;
    margin-left: -35%;
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    /* border: 1px solid red; */
    padding: 20px;
    /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05); */
  }

  #number {
    font-weight: 600;
    color: #555;
  }

  circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 5px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    /* animation: prog 20s linear forwards; */
  }

  svg {
    position: absolute;
    top: -20px;
    left: -22px;
  }

  /* @keyframes prog{
      100%{
          stroke-dashoffset: 165;
      }
  } */
}

@media screen and (max-width: 844px) {
  .skill {
    width: 80px;
    height: 80px;
    margin-top: 25%;
    margin-left: 25%;
  }

  .outer {
    height: 120px;
    width: 120px;
    padding: 10px;
  }

  .inner {
    height: 80px;
    width: 80px;
  }

  #number {
    font-size: 24px;
  }

  circle {
    stroke-width: 10px;
    stroke-dasharray: 282;
    stroke-dashoffset: 282;
  }

  svg {
    top: 38px;
    left: 31px;
  }

  .page7-cir {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    z-index: 9;
    height: 60vw;
    width: 60vw;
    border-radius: 50%;
    background-color: #ffffff69;
    border: 1px solid #ffffff;
  }
  .page7-cir-inner {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: #8f37f3;
    border: 1px solid #ffffff;
  }
}

@media screen and (max-width: 915px) {
  .skill {
    width: 80px;
    height: 80px;
    margin-top: 32%;
    margin-left: 33%;
  }

  .outer {
    height: 120px;
    width: 120px;
    padding: 10px;
  }

  .inner {
    height: 80px;
    width: 80px;
  }

  #number {
    font-size: 24px;
  }

  circle {
    stroke-width: 10px;
    stroke-dasharray: 282;
    stroke-dashoffset: 282;
  }

  svg {
    top: 100px;
    left: 100px;
  }

  .page7-cir {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    height: 60vw;
    width: 60vw;
    border-radius: 50%;
    background-color: #ffffff69;
    border: 1px solid #ffffff;
  }
  .page7-cir-inner {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: #8f37f3;
    border: 1px solid #ffffff;
  }
}

#page8 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #131222;
}

#page8 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page8-bottom {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.page8-bottom > h1 {
  color: #ffffff;
  margin-bottom: 2vw;
  font-family: "Raleway";
  font-size: 5vw;
  font-weight: 400;
}

.page8-bottom > button {
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  font-family: "Raleway";

  font-size: 1vw;
  font-weight: 600;

  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .page8-bottom > h1 {
    color: #ffffff;
    margin-bottom: 2vw;
    font-family: "Raleway";
    font-size: 8vw;
    font-weight: 400;
  }

  .page8-bottom > button {
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    font-family: "Raleway";

    font-size: 3vw;
    font-weight: 600;

    background-color: rgb(255, 255, 255);
  }
}

#page9 {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.left9 {
  height: 100%;
  width: 40%;
  /* background-color: red; */
  position: relative;
  font-family: "Raleway";
}

.right9 {
  height: 100%;
  width: 60%;
  /* background-color: #8b2fc0; */
  position: relative;
}

.left9 > h1 {
  position: absolute;
  top: 35%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 5vw;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
}

.right9-center {
  height: 45%;
  width: 85%;
  background-color: #33ff00;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(https://images.pexels.com/photos/7876050/pexels-photo-7876050.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  left: 5%;
}

@media screen and (max-width: 768px) {
  #page9 {
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically on small screens */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 100vh;
    width: 100vw;
    background-color: black;
  }

  .left9 {
    width: 100%; /* Take up the full width on small screens */
    font-family: "Raleway";
    text-align: center; /* Center text on small screens */
    margin-bottom: 1%;
  }

  .right9-center {
    width: 100%; /* Take up the full width on small screens */
    height: auto; /* Adjust height as needed */
    margin-top: 1rem; /* Add spacing between elements on small screens */
  }
}

.left9 {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  position: relative;
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  align-items: center;
}

.right9 {
  height: 100%;
  width: 100%;
  /* background-color: #8b2fc0; */
  position: relative;
}

.left9 > h1 {
  position: absolute;
  top: 35%;
  right: 25%;
  transform: translateY(-50%);
  font-size: 5vw;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
}

.right9-center {
  height: 45%;
  width: 105%;
  background-color: #33ff00;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(https://images.pexels.com/photos/7876050/pexels-photo-7876050.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  left: -20%;
}

@media screen and (max-width: 768px) {
  .left9 > h1 {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 400;
    color: #ffffff;
    line-height: 1;
  }
  .right9-center {
    height: 55%;
    width: 85%;
    background-color: #33ff00;
    border-radius: 10px;
    position: absolute;
    top: -10%;
    transform: translateY(-80%);
    background-image: url(https://images.pexels.com/photos/7876050/pexels-photo-7876050.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    left: 7%;
  }
}

#page10 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.right10 {
  height: 100%;
  width: 60%;
  position: relative;
  left: 40%;
  /* background-color: magenta; */
}
.right10-inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 35%;
  width: 100%;
  color: #ffffff;
  /* background-color: #8b2fc0; */
  font-family: "Quicksand", sans-serif;
}

.right10-inner > h1 {
  font-size: 2vw;
}

.right10-inner > p {
  margin-top: 1vw;
  font-size: 1.3vw;
  width: 90%;
}
@media screen and (max-width: 768px) {
  .right10 {
    width: 100%;
    top: -30%;
    left: 5%;
  }
  .right10-inner > h1 {
    font-size: 3vw; /* Adjusted font size for small screens */
  }
  .right10-inner > p {
    margin: 2vh 0vh;
    font-size: 3vw; /* Adjusted font size for small screens */
  }
}

#page11 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  font-family: "Quicksand" "Raleway";
}

#page11 > h1 {
  position: relative;
  top: 5%;
  left: 5%;
  font-size: 4vw;
  color: rgb(255, 255, 255);
  font-weight: 100;
}

.page11-inner {
  color: #ffffff;
  display: flex;
  top: 10%;
  position: relative;
  margin-bottom: 2vw;
  height: 22%;
  width: 100%;
  /* background-color: #33ff00; */
}

.left11 {
  position: relative;
  height: 100%;
  width: 40%;
  /* background-color: #8b2fc0; */
  left: 5%;
  border-radius: 10px;
  overflow: hidden;
}

.left11 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.right11 {
  padding: 2vw;
  left: 50%;
  position: absolute;
  height: 100%;
  width: 50%;
  /* background-color:chocolate; */
}

.right11 > h4 {
  font-weight: 100;
}

.right11 > h1 {
  font-size: 2vw;
}

#page12 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(37, 0, 72);
}

.page12-inner {
  position: absolute;
  top: 60%;
  right: 10%;
  color: #ffffff;
  font-family: "Raleway";
}

.page12-inner > h1 {
  font-size: 5vw;
  font-weight: 100;
  margin-left: -1%;
}

.page12-inner > p {
  margin-top: 5%;
  font-size: 1.3vw;
}

#page13 {
  position: relative;
  height: 50vh;
  width: 100%;
  background-color: black;
  color: #ffffff;
  font-family: "Raleway";
  padding: 8vw 10vw;
}

#page13 > h1 {
  font-size: 5vw;
  line-height: 1;
  font-weight: 100;
}

#page13 > button {
  padding: 15px 30px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 50px;
  margin-top: 8vh;
  margin-left: 6vw;
  transform: translate(-50%, -50%);
  transition: all ease 0.5s;
}

#page13 button:hover {
  background-color: #0000ff;
  color: #fff;
}

#page14 {
  position: relative;
  height: 60vh;
  width: 100%;
  background-color: black;
}

.page14-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;
  font-family: "Raleway";
  height: 32%;
  width: 100%;
  color: #ffffff;
  border-top: 0.5px solid #ffffff71;
  border-bottom: 0.5px solid #ffffff4f;
}

.page14-inner > i {
  font-weight: 100;
  font-size: 2.2vw;
  position: relative;
  z-index: 9999;
}

.page14-inner > h1 {
  font-size: 3vw;
  font-weight: 100;
  position: relative;
  z-index: 9999;
}

.center14 {
  height: 0%;
  width: 100%;
  background-color: #0000ff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.5s;
}

.page14-inner:hover .center14 {
  height: 100%;
}
